{:http/port 3000
 :bones/serializer {:format :msgpack}
 :onyx/id "abcd1234"
 :zookeeper/address "127.0.0.1:2181"
 :zookeeper.server/port 2181
 :zookeeper/server? true ;; for development
 :kafka/hostname "localhost"
 :kafka/port 9092
 :kafka/broker-id 0
 ;; balanced allows multiple jobs to run at the same time,
 ;; important for when you have kafka client jobs that are never done
 :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
 :onyx.messaging/impl :aeron
 :onyx.messaging.aeron/allow-short-circuit? true
 :onyx.messaging/bind-addr "localhost"
 :onyx.messaging/peer-port 40200
 :onyx.messaging.aeron/embedded-driver? true
 :onyx.peer/n-peers 12
 ;; :onyx.log/file "onyx.log"
 ;; :onyx.log/config {...}
 :riak/host "127.0.0.1"
 :riak/port 8087
 }
